<mat-card>
    <mat-card-header class="d-flex align-items-center" [ngClass]="{'not-started':election.status=='Not Started', 'in-progress':election.status=='In Progress'}"
    matRipple [matRippleCentered]="centered">
        <mat-card-title class="d-flex flex-column">
            <span class="pb-2">{{election.electionName}}</span>
            <span>{{election.status}}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content> 
        <div class="d-flex flex-fill flex-column p-2 bd-highlight">
            <div class="d-flex flex-row fs-5 justify-content-around pb-2 border-bottom">
                <div>
                    Elction Date
                </div>
                <div class="d-flex flex-fill  justify-content-end align-items-center">
                   <span class="balance-amount">
                       {{getDate(election.electionDate) | date: 'short'}} 
                   </span>
                </div>
            </div>
            <div class="d-flex flex-row fs-5 justify-content-around pt-3 pb-3 border-bottom">
                <table style="width: 100%;">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th style="text-align: center;">
                            {{election.status=='Completed'?'No Of Votes':'Vote' }}
                        </th>
                    </tr>
                    <tr *ngFor="let vote of election.voting; let i=index" style="border-top: 1px solid purple;">
                        <td>
                            {{vote.candidateName}}
                        </td>
                        <td *ngIf="election.status!='Completed'">
                            <button mat-raised-button class="me-2" color="primary" [disabled]="isUserAlreadyVoted() || election.status=='Not Started'" (click)="openVotingModel(i)">
                                <mat-icon>how_to_vote</mat-icon>
                            </button>
                        </td>
                        <td *ngIf="election.status=='Completed'" style="text-align: center;">
                            {{vote.voteCount}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="d-flex flex-row fs-5 justify-content-around pt-3 pb-3 border-bottom">
                <button *ngIf="election.status=='Completed'" mat-raised-button class="me-2" color="secondary" (click)="openVotingModel(0)">
                    <mat-icon>how_to_vote</mat-icon>View Result
                </button>
                <button *ngIf="election.status=='Not Started' && isAdmin" mat-raised-button class="me-2" color="secondary" (click)="startTheElection()">
                    <mat-icon>start</mat-icon>Start Election
                </button>
                <button *ngIf="election.status=='In Progress' && isAdmin" mat-raised-button class="me-2" color="secondary" (click)="endTheElection()">
                    <mat-icon>stop</mat-icon>End Election
                </button>
            </div>
            <div class="d-flex flex-row justify-content-center pt-2">
                <div>
                    Created on:
                </div>
                <div>
                    {{getDate(election.createdDate) | date:'short'}}
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>